<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h4> Show department <%= @department.id %></h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p> <%= @department.inspect %> </p>
  </div>
</div>